/* All of the elements in #ontainer */
#container * {
    margin: 0;
    padding: 0;
}

/* Class */
.error {
    color: red;
}

/* All of the a elements which are in a */
li a {
    text-decoration: none;
    color: orange;
}

/* Hasn't been clicked */
a:link {
    color: red;
}
/* Has been clicked */
a:visited {
    color: green;
}

/* .two must be after .one (after not in!) */
.one + .two {
    color: orange;
}

/* will target only the direct children of <div id="container"> */
div#container > ul {
    border: 1px solid black;
}

/* all of the elements in the same level with sibling 1 (but only after sibling 1) */
.sibling1 ~ .sibling2 {
    color: green;
}

/* attribute selector */
input[data-name] {
    color: green;
}

input[data-name="name"] {
    color: blue;
}